body{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Outfit;
}
.QrWrapBlock{
   background-color: hsl(212, 45%, 89%);
   margin: 100px 50px 100px 50px;
   width: 1440px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px;
   position: relative;
}
.QrCodeWrap{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   padding: 10px;
   border-radius: 14px;
   width: 180px;
}
.QrCodeImageBlock{
   border-radius: 8px;
   overflow: hidden;
   position: relative;
   width: 180px;
   height: 180px;
}
.QrCodeImageBlock img{
   width: 100%;
   object-fit: contain;
   position: absolute;
}
.QrTextWrap{
   text-align: center;
   display: flex;
   flex-direction: column;
}
.QrTextWrap p{
   margin: 0;
}
.QrTextBl_1{
   font-weight: 800;
   margin: 20px 0px 12px 0px;
   font-size: 15px;
}
.QrTextBl_2{
   font-weight: 400;
   font-size: 12px;
   margin-bottom: 20px;
}
.attribution{
   position: absolute;
   left: 10px;
   bottom: 10px;
}