body{
   display: flex;
   justify-content: center;
   align-items: center;
}
.QrWrapBlock{
   background-color: #D5E1EF;
   margin: 100px 50px 100px 50px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px;
}
.QrCodeWrap{
   background-color: #ffffff;
   padding: 15px;
}
.QrCodeImageBlock{
   width: 200px;
}
.QrCodeImageBlock img{
   width: 100%;
   object-fit: contain;
}
.QrTextBl_1, .QrTextBl_2{
   width: 100%;
}